html {
    width:100%;
    height:100%;
}
body {
    width:100%;
    height:100%;
}
.log {
    width:100%;
    height:100%;
    background:url(../i/f10.jpg) #000 no-repeat;
    background-size:100% 100%;
    color:#ffffff;
}
@media only screen and (max-width:640px) {
    .log {
        background-size:180% 100%;
        background-position:top right;
    }
    .log-title {
        display:none;
    }
}
.log-title {
    font-size:4rem;
}
.log-content {
    margin-top:15%;
    text-align:center;
}
.log-button {
    background-color:transparent;   
    border-radius:8px;
    border:2px solid #ffffff;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
}
.log-button:hover {
     background-color:#0e90d2;
     border:2px solid #0e90d2;
     color:#ffffff;
}
.log-button:active {
    position:relative;
    top:1px;
}
.log-header,.log-re {
    background-color:transparent;
    position:absolute;
    top:0;
    color:#ffffff;
}
.log-header {
    display: block;
    height: 50px;
    width: 165px;
    margin-left:10%;
    text-indent: -9999px;
    background: url(http://s.amazeui.org/media/i/brand/amazeui-w.png) left center no-repeat;
    background-size: 125px 24px;
}
.log-header:hover {  
    height: 50px;
    width: 165px;
    margin-left:10%;
    text-indent: -9999px;
    background: url(http://s.amazeui.org/media/i/brand/amazeui-cw.png) left center no-repeat;
    background-size:125px 24px;
}
.log a {
    color:#fff;
}
.log-re {
    right:10%;
    top:1%;
}
.log-icon {
    background-color:transparent;
    color:#ffffff;
}
.log-animation-delay {
  -webkit-animation-delay: 200ms;
  animation-delay: 200ms;
}
.log-animation-delay-a {
    -webkit-animation-delay: 300ms;
    animation-delay: 300ms;
}
.log-animation-delay-b {
     -webkit-animation-delay: 500ms;
    animation-delay: 500ms;
}
.log-alert {
    clear:both;
    width:100%;
    height:28px;
    line-height:28px;
    padding-top:0;
    position:absolute;
    top:20px;
    left:0;
    display:block;
  }
.log-footer {
    position:absolute;
    bottom:10px;
    width:100%;
    text-align:center;
}




/**
 * blog css 
 * a:hover: #10D07A 
 * 鍩烘湰鑹诧細#333 
 * 鎴栬€� #3d3d3d   
 * bgcolor锛�#10D07A  锛� color锛�#fff
 * blog-color  鍗曠嫭鐨勯鑹茬獊鍑�
 * .blog-bor    border:1px solid #e5e5e5
 * css澶嶇敤 涓� 瑙勮寖鍖�
 */
a {
    color:#474747;
}
 a:hover {
    color:#10D07A;
}
.blog-header {
    margin-top:3rem;
}
@media only screen and (max-width:640px) {
    .blog-header {
    margin-top:1rem;
    }
    .blog-nav li {
    text-align:center;
    }
}
#blog hr {
    margin:0.6rem 0;
}
.blog-nav {
    padding:0 1.3rem;
}

.blog-nav li a:hover{
    background-color:#fff;
    color:#10D07A;
}
.blog-button {
    width:10%;
    height:90%;
    margin-left:1.5rem;
    margin-bottom: 0.5rem;
    background-color:#10D07A;
}
.am-dropdown-content li a{
    background-color:transparent;
}
.am-dropdown-content li a:hover {
    background-color:#10D07A;
}
.blog-text-center {
    text-align:center;
}
.blog-bor {
    border:1px solid #e5e5e5;
}
.am-topbar-nav>li.am-active>a, .am-topbar-nav>li.am-active>a:focus, .am-topbar-nav>li.am-active>a:hover {
    border-radius: 0;
    color: #10D07A;
    background: 0 0;
    text-align:center;
}
.am-topbar-nav>li>a:hover:after {
     opacity: 0; 
}
@media only screen and (min-width: 641px) {
.am-topbar-nav>li.am-active>a:after {
    opacity: 0;
    }
}
@media only screen and (min-width: 1200px) {
      .blog-fixed {
        max-width: 1200px;
      }
}
.blog-entry-img {
    padding:0;
    max-width:66%;
    height:auto;
}
.blog-entry-article {
    margin:3rem 0;
    padding-bottom: 3rem;
    border-bottom: 1px solid #e5e5e5;
}
@media only screen and (max-width:640px) {
    .blog-entry-article {
        padding-bottom:1rem;
        text-align:center;
    }
}
.blog-entry-text {
    padding:0 1rem;
}
.blog-entry-text h1 {
    margin-top:0;
    color:#3d3d3d;
}
.blog-sidebar {
    margin-top:3rem;
    padding:0 1.5rem 0 7.5rem;
}
.blog-title {
    margin-top:-1.5rem;
}
.blog-title span{
    background-color:#fff;
    padding:0 1.5rem;
}
.blog-sidebar-widget {
    padding:0 2rem;
    margin-bottom:4rem;
    text-align:center;
}
h1 span{
    color:#333;
}
.blog-icon {
    width:3.4rem;
    border:1px solid #e5e5e5;
    padding:0.5rem;
    color:#3d3d3d;
}
.blog-icon:hover {
    color:#fff;
    background:#10D07A;
    border:1px solid #10D07A;
}
.blog-color {
    color:#10D07A;
}
.blog-continue {
    color:#000;
    border:0.2rem solid gray;
    padding:0.5rem 1rem;
    font-weight:bold;
}
.blog-continue:hover {
    background-color:#10D07A;
    color:#fff;
    border:0.1rem #fff;
}
.blog-tag {
    background:#F3F3F3;
    margin:0.15rem 0.15rem;
    line-height:2.5rem;
    float:left;
    border: 1px solid #eee;
    padding:0.2rem 0.8rem 0.2rem 0.8rem;
}
.blog-tag:hover {
    background:#10D07A;
    color:#fff;
}
.blog-clear-margin {
    margin-left:0rem !important;
    margin-right:0rem !important;
}
.blog-clear-padding {
    padding:0 0 1.5rem 0 !important;
}
.blog-tag-left {
    text-align:left;
}
.blog-footer {
    padding:3rem 0 2rem 0;
    margin-top:5rem;
    background-color:#252525;
    color:#fff !important
}
.blog-footer-padding {
    padding:3rem 0;
}
.blog-footer a{
    color:#fff;
}
.blog-footer span {
    color:#fff;
}
/**
 * blog-article-sidebar
 * 
 */

.blog-article-p {
    margin:3rem 0;
}
.blog-author-img {
    width:8rem;
    height:8rem;    
}
@media only screen and (max-width:641px) {
    .blog-author-img {
    width:6rem;
    height:6rem;    
    }
}
.blog-article-margin {
    margin:3rem 0;
}

.blog-clear-left {
    padding-left: 0;
}
.blog-clear-right {
    padding-right:0;
}
.blog-slider-desc {
    width:50%;
    height:50%;
    overflow:hidden;
    border:0.3rem solid #fff;
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    -webkit-transform:translate(-50%,-50%);;
    background-color:transparent;
}
.blog-slider-con {
    position:absolute;
    left:0.5%;
    top:1%;
    width:99%;
    height:98%;
    border:0.3rem solid #fff;
    padding:3rem 8rem;
    background-color:#fff;
}
/**
 * bug:
 * width:100%; height:100%; 
 * margin: 1% 鎴栬€� 1rem ;
 * 姝ゅ鐨勫畾浣嶅嚭鐜伴棶棰樸€�
 */
.blog-h-margin {
    margin:0;
}
.am-slider-carousel li {
  margin-right: 25px;
}
.blog-comment {
    padding-left:0.625rem;
}

.img-layout {
    width:300px;
    height:200px;
    
}

#container {
    width: 100%;
    margin: auto;
}
#container div {
    -webkit-box-shadow: 0 4px 15px -5px #555;
    box-shadow: 0 4px 15px -5px #555;
    background-color: #fff;
    width:220px;
    padding:2px;
    margin:5px;
}
#container > div img {
    padding: 0px;
    display: block;
    width: 100%;
}

.time-year {
    margin-bottom:3rem;
    margin-top:3rem;
}
.timeline-year li {
    list-style: none;
}
.timeline-span {
    border-left:2px solid #10D07A;
}

/*Reset CSS*/

/*Header CSS*/

/*HR Divider*/
hr.small {
  max-width: 100px;
  margin: 15px auto;
  border-width: 4px;
  border-color: white;
}
/*HR Divider*/

/*Navbar*/
@media only screen and (max-width: 767px) {
  .navbar-default .navbar-collapse {
    display:block;
    position: absolute;
    right: 0;
    border: none;
    background: white;
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
    box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.239216) 0px 1px 4px;
    border-radius: 2px;
    width: 120px;
  }
  #u-navbar a {
    font-size: 13px;
    line-height: 28px;
  }
  #u-navbar .navbar-collapse {
    transform: translateY(-270px);
    -webkit-transform: translateY(-270px);
    transition: all .3s ease-out;
    -webkit-transition: -webkit-transform .3s ease-out;
  }
  #u-navbar li {
    opacity: 0;
    transition: opacity .3s ease-out .2s;
    -webkit-transition: -webkit-transform .3s ease-out .2s;
  }
  #u-navbar.in .navbar-collapse {
    transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transition: all .3s ease-out;
    -webkit-transition: -webkit-transform .4s ease-out;
  }
  #u-navbar.in li {
    opacity: 1;
    transition: opacity .3s ease-out .2s;
    -webkit-transition: opacity .3s ease-out .2s;
  }

}
.navbar-custom {
  background: none;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: #fff;
  font-family: -apple-system,"Helvetica Neue","Arial","PingFang SC","Hiragino Sans GB","STHeiti","Microsoft YaHei","Microsoft JhengHei","Source Han Sans SC","Noto Sans CJK SC","Source Han Sans CN","Noto Sans SC","Source Han Sans TC","Noto Sans CJK TC","WenQuanYi Micro Hei",SimSun,sans-serif;
}
.navbar-custom .navbar-brand {
    font-weight: 800;
    color: #fff;
    height: 56px;
    line-height: 25px;
}
.navbar-custom .nav li a {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 1px;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: inherit;
}
.navbar-default .navbar-toggle .icon-bar {
    width: 18px;
    border-radius: 0;
    background-color: #fff;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
    padding: 19px 16px;
    margin-top: 2px;
    margin-right: 2px;
    margin-bottom: 2px;
    border-radius: 50%;
}
@media only screen and (min-width: 768px) {
  .navbar-custom {
    background: transparent;
    border-bottom: 1px solid transparent;
  }
  .navbar-custom .navbar-brand {
    color: white;
    padding: 20px;
  }
  .navbar-custom .navbar-brand:hover,
  .navbar-custom .navbar-brand:focus {
    color: rgba(255, 255, 255, 0.8);
  }
  .navbar-custom .nav li a {
    color: white;
    padding: 20px;
  }
  .navbar-custom .nav li a:hover,
  .navbar-custom .nav li a:focus {
    color: rgba(255, 255, 255, 0.8);
  }
}
@media only screen and (min-width: 1170px) {
  .navbar-custom {
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    transition: background-color 0.3s;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .navbar-custom.is-fixed {
    /* when the user scrolls down, we hide the header right above the viewport */
    position: fixed;
    top: -61px;
    background-color: rgba(255, 255, 255, 0.9);
    border-bottom: 1px solid #f2f2f2;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
  }
  .navbar-custom.is-fixed .navbar-brand {
    color: #404040;
  }
  .navbar-custom.is-fixed .navbar-brand:hover,
  .navbar-custom.is-fixed .navbar-brand:focus {
    // color: #0cc;
  }
  .navbar-custom.is-fixed .nav li a {
    color: #404040;
  }
  .navbar-custom.is-fixed .nav li a:hover,
  .navbar-custom.is-fixed .nav li a:focus {
    // color: #0cc;
  }
  .navbar-custom.is-visible {
    /* if the user changes the scrolling direction, we show the header */
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}
.hamburger {
  z-index:99;
  float:right;
  padding: 10px 5px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  transition-duration: 0.5s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger-box {
  width: 30px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 20px;
    height: 3px;
    background-color: #fff;
    border-radius: 3px;
    position: absolute;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    transition-duration: 0.5s;
    transition-timing-function: ease;
  }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block;
  }
  .hamburger-inner::before {
    top: -5px;
  }
  .hamburger-inner::after {
    bottom: -5px;
  }

  .hamburger--slider .hamburger-inner {
  top: 10px; }
  .hamburger--slider .hamburger-inner::before {
    top: 6px;
    transition-property: opacity, -webkit-transform;
    transition-property: transform, opacity;
    transition-property: transform, opacity, -webkit-transform;
    transition-timing-function: ease;
    transition-duration: 0.5s; }
  .hamburger--slider .hamburger-inner::after {
    top: 12px; }

.hamburger--slider.is-active .hamburger-inner {
  -webkit-transform: translate3d(0, 7px, 0) rotate(45deg);
          transform: translate3d(0, 7px, 0) rotate(45deg); }
  .hamburger--slider.is-active .hamburger-inner::before {
    -webkit-transform: rotate(-45deg) translate3d(-5.71429px, -8px, 0);
            transform: rotate(-45deg) translate3d(-5.71429px, -8px, 0);
    opacity: 0; }
  .hamburger--slider.is-active .hamburger-inner::after {
    -webkit-transform: translate3d(0, -12px, 0) rotate(-90deg);
            transform: translate3d(0, -12px, 0) rotate(-90deg); }

@media (min-width: 768px) {
  .hamburger {
    display: none;
  }
}

/*Navbar*/

/*Header*/
.intro-header {
  background: no-repeat center center;
  background-color: #808080;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  margin-bottom: 30px;
}
.intro-header .site-heading,
.intro-header .post-heading,
.intro-header .page-heading {
  padding: 100px 0 50px;
  color: white;
}
@media only screen and (min-width: 768px) {
  .intro-header .site-heading,
  .intro-header .post-heading,
  .intro-header .page-heading {
    padding: 150px 0;
  }
}
.intro-header .site-heading,
.intro-header .page-heading {
  text-align: center;
}
.intro-header .site-heading h1,
.intro-header .page-heading h1 {
  margin-top: 0;
  font-size: 50px;
}
.intro-header .site-heading .subheading,
.intro-header .page-heading .subheading {
  font-size: 24px;
  line-height: 1.1;
  display: block;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  margin: 10px 0 0;
}
@media only screen and (min-width: 768px) {
  .intro-header .site-heading h1,
  .intro-header .page-heading h1 {
    font-size: 80px;
  }
}
.intro-header .post-heading h1 {
  font-size: 35px;
}
.intro-header .post-heading .subheading,
.intro-header .post-heading .meta {
  line-height: 1.1;
  display: block;
}
.intro-header .post-heading .subheading {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 24px;
  margin: 10px 0 30px;
  font-weight: 600;
}
.intro-header .post-heading .meta {
  font-family: 'Lora', 'Times New Roman', serif;
  font-style: italic;
  font-weight: 300;
  font-size: 20px;
}
.intro-header .post-heading .meta a {
  color: white;
}
@media only screen and (min-width: 768px) {
  .intro-header {
    margin-bottom: 20px;
  }
  .intro-header .post-heading h1 {
    font-size: 55px;
  }
  .intro-header .post-heading .subheading {
    font-size: 30px;
  }
}
/*Header*/

/*Container*/
/*@media (min-width: 768px) {*/
  .post-container, .sidebar-container {
  padding-right: 5%;
}
/*}*/
/*Container*/

/*Post-content*/
.post-content a {
  color:#0CC;
}
.post-content a:hover,
.post-content a:focus {
  text-decoration: underline;
}
/*Post-content*/

/*Sidebar*/
.sidebar  {
  color: #a3a3a3;
}
.sidebar h5 {
  color: #808080;
  padding-bottom: 1em;
}
.short-about img {
  height:150px;
  width:150px;
  border-radius:10px;
}
/*Sidebar*/

/*Post Preview*/
.post-preview > a {
  color: #404040;
}
.post-preview > a:hover,
.post-preview > a:focus {
  text-decoration: none;
  color: #0CC;
}
.post-subtitle  {
  font-size: 16px;
}
.post-preview > a > .post-title {
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 10px;
}
.post-preview > a > .post-subtitle {
  margin: 0;
  font-weight: 300;
  margin-bottom: 10px;
}
.post-preview > .post-meta {
  font-family: Lora,'Times New Roman', 'Microsoft Yahei', serif;
  color: #808080;
  font-size: 18px;
  font-style: italic;
  margin-top: 0;
}
.post-preview > .post-meta > a {
  text-decoration: none;
  color: #404040;
}
.post-preview > .post-meta > a:hover,
.post-preview > .post-meta > a:focus {
  color: #0CC;
  text-decoration: underline;
}
.post-content-preview {
    font-size: 14px;
    font-style: italic;
    color: #a3a3a3;
    text-align:justify;
}
@media only screen and (min-width: 768px) {
  .post-preview > a > .post-title {
    font-size: 26px;
  }
}
/*Post Preview*/

/*Unknown */
.section-heading {
  font-size: 36px;
  margin-top: 60px;
  font-weight: 700;
}
.caption {
  text-align: center;
  font-size: 14px;
  padding: 10px;
  font-style: italic;
  margin: 0;
  display: block;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
/*Unkown*/

/*Footer*/
footer {
  padding: 50px 0 65px;
}
footer .list-inline {
  margin: 0;
  padding: 0;
}
footer .copyright {
  font-size: 14px;
  text-align: center;
  margin-bottom: 0;
}

/*Contact Form*/
.floating-label-form-group {
  font-size: 14px;
  position: relative;
  margin-bottom: 0;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #eeeeee;
}
.floating-label-form-group input,
.floating-label-form-group textarea {
  z-index: 1;
  position: relative;
  padding-right: 0;
  padding-left: 0;
  border: none;
  border-radius: 0;
  font-size: 1.5em;
  background: none;
  box-shadow: none !important;
  resize: none;
}
.floating-label-form-group label {
  display: block;
  z-index: 0;
  position: relative;
  top: 2em;
  margin: 0;
  font-size: 0.85em;
  line-height: 1.764705882em;
  vertical-align: middle;
  vertical-align: baseline;
  opacity: 0;
  -webkit-transition: top 0.3s ease,opacity 0.3s ease;
  -moz-transition: top 0.3s ease,opacity 0.3s ease;
  -ms-transition: top 0.3s ease,opacity 0.3s ease;
  transition: top 0.3s ease,opacity 0.3s ease;
}
.floating-label-form-group::not(:first-child) {
  padding-left: 14px;
  border-left: 1px solid #eeeeee;
}
.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1;
}
.floating-label-form-group-with-focus label {
  color: #0085a1;
}
form .row:first-child .floating-label-form-group {
  border-top: 1px solid #eeeeee;
}
/*Contact Form*/

/*Tag List*/
.listing-seperator {
  color: #0CC;
}
.listing-seperator:before {
  margin-right:5px;
}
.tag-text {
  font-size:18px;
  font-family: -apple-system,"Helvetica Neue","Arial","PingFang SC","Hiragino Sans GB","STHeiti","Microsoft YaHei","Microsoft JhengHei","Source Han Sans SC","Noto Sans CJK SC","Source Han Sans CN","Noto Sans SC","Source Han Sans TC","Noto Sans CJK TC","WenQuanYi Micro Hei",SimSun,sans-serif;
}
.one-tag-list > .post-preview > a > h2 {
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 5px;
}
.one-tag-list > .post-preview > a > h3 {
  font-size: 14px;
}
/*Tag List*/
/*Button*/
.btn {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 1px;
  border-radius: 0;
  padding: 15px 25px;
}
.btn-lg {
  font-size: 16px;
  padding: 25px 35px;
}
.btn-default:hover,
.btn-default:focus {
  /*background-color: #0085a1;*/
  background-color: #0CC;
  border: 1px solid #0CC;
  /*border: 1px solid #0085a1;*/
  color: white;
}
/*Button*/

/*Post Nav*/
.pager {
  margin: 20px 0 0;
}
.post-pager {
  padding: 20px 10px 10px;
  border-top: 1px dashed #808080;
  position: relative;
}
.post-pager:before {
  content: '\f0fb';
  position:absolute;
  top:-17.7px;
  right:0px;
  font: normal normal normal 32px FontAwesome;
  -webkit-font-smoothing: antialiased;
}
.pager li > a,
.pager li > span {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 1px;
  padding: 10px 5px;
  color: #FFF;
  border: none;
  background-color: #404040;
  border-radius: 0;
  position: relative;
  overflow: hidden;
  -webkit-transition:  1s ease;
  -moz-transition:  1s ease;
  -ms-transition:  1s ease;
  -o-transition:  1s ease;
  transition:  1s ease;
}
.pager li > a:hover,
.pager li > span:hover {
  background: #0CC;
}
.next a:after,
.previous a:after {
  display: block;
  content: '';
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.next a:after {
  -webkit-transition: -webkit-transform 1s ease;
  -moz-transition: -moz-transform 1s ease;
  -ms-transition: -ms-transform 1s ease;
  -o-transition: -o-transform 1s ease;
  transition: transform 1s ease;
  -webkit-transform: translateX(-100%) ;
  -moz-transform: translateX(-100%) ;
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}
.previous a:after {
  -webkit-transition: -webkit-transform 1s ease;
  -moz-transition: -moz-transform 1s ease;
  -ms-transition: -ms-transform 1s ease;
  -o-transition: -o-transform 1s ease;
  transition: transform 1s ease;
  -webkit-transform: translateX(100%) ;
  -moz-transform: translateX(100%) ;
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
}
.next a:hover:after,
.previous a:hover:after {
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -o-transform: translateX(0%);
  transform: translateX(0%);
}

@media only screen and (min-width: 768px) {
  .pager li > a,
  .pager li > span {
    font-size: 14px;
    padding: 15px 25px;
  }
}
/*.pager li > a:hover,
.pager li > a:focus {
  color: white;
  background-color: #0CC;
  border: 1px solid #0CC;
}*/
/*.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
  color: #808080;
  background-color: #404040;
  cursor: not-allowed;
}*/
/*Post Nav*/

/*Tags*/
.tags {
  margin-bottom:10px;
  line-height: 0;
}
a.tag {
    font-weight: 400;
    font-style: normal;
    color: #404040;
    text-decoration: none;
    border: none;
    padding: 5px 10px;
}
.taghover {
    position: relative;
    display:inline-block;
    margin-right: 5px;
    border: 1px solid #404040;
    line-height: 1.4;
    font-size:12px;
    /*border: none;*/
    /*background: #404040;*/
    border-radius: 26px;
    -ms-transition: all linear .5s;
    -moz-transition: all linear .5s;
    -webkit-transition: all linear .5s;
    -o-transition: all linear .5s;
}
.taghover:hover  {
  color:#efefef;
  background: #0CC;
  border: 1px solid #0CC;
  /*border:none;*/
  border-radius: 3px;
  text-decoration: none;
}
a.tag:hover {
  color: #efefef;
}
.post-tags  {
  padding: 10px 10px 20px;
  border-bottom: 1px dashed #808080;
  position:relative;
}
.post-tags .taghover {
  font-size:12px;
  line-height: 24px;
}
.post-tags:hover .taghover a {
  text-decoration: none;
}
.post-tags:after  {
  content: '\f0fb';
  position:absolute;
  bottom:-16px;
  left:0px;
  font: normal normal normal 32px FontAwesome;
  -webkit-font-smoothing: antialiased;
}
/*#tag_cloud a {
  background: #404040;
  display: inline-block;
  font-family: Consolas,"Courier New",Courier;
  font-weight: 400;
  font-style: normal;
  color: #efefef;
  font-size:14px;
  margin: 5px;
  border: none;
  border-radius: 999px;
  padding:0 10px;
  line-height: 28px;
}*/
#tag_cloud a {
  display: inline-block;
  font-size: 12px;
  border: 1px solid #404040;
  line-height: 24px;
  margin: 0 2px;
  margin-bottom: 8px;
  border-radius: 24px;
  padding: 0 10px;
  color: #404040;
  text-decoration: none;
  -ms-transition: all linear .5s;
  -moz-transition: all linear .5s;
  -webkit-transition: all linear .5s;
  -o-transition: all linear .5s;
}
#tag_cloud a:hover {
  border-radius: 3px;
  /*background: #0CC;*/
  /*border: 1px ;*/
  /*color:#FFF;*/
}
/*Tags*/

/*Social Icon*/
.social {
    height:50px;
    width:50px;
    background:#404040;
    margin:12px;
    transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
}
.social i {
  font-size:24px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  line-height: 50px;
}
.social:hover {
    background: #0CC;
    border-radius: 100%;
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}
.sidebar-social {
    height:30px;
    width:30px;
    background:#bfbfbf;
    margin: 0px 5px;
    border-radius: 100%;
    transition: all linear 1s;
    -ms-transition: all linear 1s;
    -moz-transition: all linear 1s;
    -webkit-transition: all linear 1s;
    -o-transition: all linear 1s;
}
.sidebar-social i {
  border-radius: 100%;
  font-size:20px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  line-height: 30px;
}
.sidebar-social:hover {
    background: #0CC;
    border-radius: 100%;
    transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
}
/*Social Icon*/

/*Anchor.js Link*/
a.anchorjs-link  {
  transition: all linear 0.5s;
  -ms-transition: all linear 0.5s;
  -moz-transition: all linear 0.5s;
  -webkit-transition: all linear 0.5s;
  -o-transition: all linear 0.5s;
  color:#0CC;
}
a.anchorjs-link:hover  {
  color:#404040;
  text-decoration: none;
}
/*Anchor.js Link*/

/*Musicpanel*/
@media (min-width: 600px) {
  #music-control {
    display: block;

}
}
@media (max-width: 600px) {
  #music-control {
    display:none;
  }
}
#music-control  {
  text-align: center;
  font-size:30px;
  color:#fff;
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 25px;
  border-radius: 5px;
  background: #404040;
  -webkit-transition: 1s;
  transition: 1s;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
}
#music-control:hover  {
  background-color: #0CC;
}
#music-control i {
  line-height: 50px;
}
#music-content  {
  position: fixed;
  bottom: -53px;
  right: 60px;
  display: none;
  z-index: 1000;
}
#music-control.on+#music-content {
    display: block;
}
/*Musicpanel*/

/*404*/
.page-fullscreen .intro-header  {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.page-fullscreen footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding-bottom: 20px;
  opacity: .6;
  color: #fff;
}
/*404*/

img::selection {
  color: white;
  background: transparent;
}
img::-moz-selection {
  color: white;
  background: transparent;
}


pre {
    position: relative;
    margin-bottom: 24px;
    border-radius: 3px;
    border: 1px solid #C3CCD0;
    background: #FFF;
    overflow: hidden;
}

pre code {
  display: block;
  padding: 12px 24px;
  overflow-y: auto;
}

code.has-numbering {
    margin-left: 21px;
}

.pre-numbering {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    padding: 12px 2px 12px 0;
    border-right: 1px solid #C3CCD0;
    border-radius: 3px 0 0 3px;
    background-color: #EEE;
    text-align: right;
    color: #AAA;
}

.catalog-container {
  padding: 0px;
}
.side-catalog {
  display: block;
  overflow: auto;
  height: 100%;
  padding-bottom: 40px;
  width: 195px;
}
.side-catalog.fixed {
  position: fixed;
  top: 60px;
}
.side-catalog.fold .catalog-toggle::before {
  content: "+";
}
.side-catalog.fold .catalog-body {
  display: none;
}
.side-catalog .catalog-toggle::before {
  content: "芒藛鈥�";
  position: relative;
  margin-right: 5px;
  bottom: 1px;
}
.side-catalog .catalog-body {
  position: relative;
  list-style: none;
  height: auto;
  overflow: hidden;
  padding-left: 0px;
  padding-right: 5px;
  text-indent: 0;
}
.side-catalog .catalog-body li {
  position: relative;
  list-style: none;
}
.side-catalog .catalog-body li a {
  padding-left: 10px;
  max-width: 180px;
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  line-height: 30px;
  overflow: hidden;
  text-decoration: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #404040;
}
.side-catalog .catalog-body .h1_nav,
.side-catalog .catalog-body .h2_nav,
.side-catalog .catalog-body .h3_nav {
  margin-left: 0;
  font-size: 13px;
  font-weight: bold;
}
.side-catalog .catalog-body .h4_nav,
.side-catalog .catalog-body .h5_nav,
.side-catalog .catalog-body .h6_nav {
  margin-left: 10px;
  font-size: 12px;
}
.side-catalog .catalog-body .h4_nav a,
.side-catalog .catalog-body .h5_nav a,
.side-catalog .catalog-body .h6_nav a {
  max-width: 170px;
}
.side-catalog .catalog-body .active {
  border-radius: 4px;
  background-color: rgba(222,222,222,.3);
}
.side-catalog .catalog-body .active a {
  color: #0cc!important;
}
@media (max-width: 1200px) {
  .side-catalog {
    display: none;
  }
}

div.notepad-index-post-tags {
    font-size: 16px;
    float: none;
    color: black;
    padding-top: 1.25rem;
    padding-bottom: 0.625rem;
    background-color: #F3F3F3; }
.notepad-index-post-tags a {
	display: inline-block;
	padding: 0.3125rem 0.9375rem;
	margin-right: 0.1875rem;
	color: black;
	border: 0.0625rem solid black;
	border-radius: 0.125rem;
	margin-bottom: 0.3125rem; }
.notepad-index-post-tags a:hover {
	color: #e51843;
	border: 0.0625rem solid #e51843; }

  /* reset webkit search input browser style */
input {
	outline: none;
}
input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none; /* remove the search and cancel icon */
}

/* search input field */
input[type=search] {
	background: #ededed url(https://om4v1ul08.qnssl.com/typecho/icon/searchicon.png) no-repeat 9px center;
	border: solid 1px #ccc;
	padding: 9px 10px 9px 32px;
	width: 55px;
	
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
input[type=search]:focus {
	width: 130px;
	background-color: #fff;
	border-color: #6dcff6;
	
	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}

/* placeholder */
input:-moz-placeholder {
	color: #999;
}
input::-webkit-input-placeholder {
	color: #999;
}

#search-extend input[type=search] {
	width: 15px;
	padding-left: 10px;
	color: transparent;
	cursor: pointer;
}
#search-extend input[type=search]:hover {
	background-color: #fff;
}
#search-extend input[type=search]:focus {
	width: 130px;
	padding-left: 32px;
	color: #000;
	background-color: #fff;
	cursor: auto;
}
#search-extend input:-moz-placeholder {
	color: transparent;
}
#search-extend input::-webkit-input-placeholder {
	color: transparent;
}