a {
  color:#404040
}
a:hover,
a:focus {
  color:#42b983
}
#blog {
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei UI", "Microsoft YaHei", "Source Han Sans CN", sans-serif !important;
}
#blog hr {
  margin:.6rem 0
}
.blog-text-center {
  text-align:center;
  font-size: 14px;
}
@media only screen and (min-width: 1200px) {
  .blog-fixed {
      max-width:1200px
  }
}
.blog-entry-article {
  margin:3rem 0;
  padding-bottom:3rem;
  border-bottom:1px solid #e5e5e5
}
.blog-entry-text {
  padding:0 1rem
}
.blog-entry-text h1 {
  margin-top:0;
  color:#2D2D2F;
}
.blog-footer {
  padding:2rem 0 2rem 0;
  margin-top:5rem;
  background-color:#273547;
  color:#fff !important
}
.blog-footer a {
  color:#fff
}
.blog-footer span {
  color:#fff
}
.blog-article-p {
  margin:3rem 0
}
@media only screen and (max-width: 767px) {
  .navbar-default .navbar-collapse {
      display:block;
      position:absolute;
      right:0;
      border:none;
      background:white;
      box-shadow:0 5px 10px 2px rgba(0, 0, 0, .2);
      box-shadow:rgba(0, 0, 0, .117647) 0 1px 6px, rgba(0, 0, 0, .239216) 0 1px 4px;
      border-radius:2px;
      width:120px
  }
}
.intro-header {
  background:no-repeat center center;
  background-color:#808080;
  background-attachment:scroll;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  background-size:cover;
  -o-background-size:cover;
  margin-bottom:30px;
}
.intro-header .site-heading, .intro-header .post-heading {
  padding:100px 0 50px;
  color:white
}
@media only screen and (min-width: 768px) {
  .intro-header .site-heading, .intro-header .post-heading {
      padding:80px 0 120px 0
  }
}
.intro-header .site-heading {
  text-align:center
}
.intro-header .site-heading h1 {
  margin-top:0;
  font-size:50px
}
.intro-header .site-heading .subheading {
  font-size:24px;
  line-height:1.1;
  display:block;
  font-family:'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight:300;
  margin:10px 0 0
}
@media only screen and (min-width: 768px) {
  .intro-header .site-heading h1 {
      font-size:80px
  }
}
.intro-header .post-heading h1 {
  font-size:35px
}
.intro-header .post-heading .meta {
  line-height:1.1;
  display:block
}
.intro-header .post-heading .meta {
  font-family:'Lora', 'Times New Roman', serif;
  font-style:italic;
  font-weight:300;
  font-size:20px
}
@media only screen and (min-width: 768px) {
  .intro-header {
      margin-bottom:20px
  }
  .intro-header .post-heading h1 {
      font-size:45px
  }
}
input {
  outline:none;
  border: 1px solid #bdc3c7;
  border-radius: 2px;
  box-shadow: none;
  width: 100%;
}
input::-webkit-search-decoration, input::-webkit-search-cancel-button {
  display:none
}
input:-moz-placeholder {
  color:#999
}
input::-webkit-input-placeholder {
  color:#999
}
#comments {
  padding-top:15px
}
.comment-list, .comment-list ol {
  list-style:none;
  margin:0;
  padding:0
}
.comment-list li {
  padding:14px;
  margin-top:10px;
  border:1px solid #EEE
}
.comment-list li.comment-level-odd {
  background:#F6F6F3
}
.comment-list li.comment-level-even {
  background:#FFF
}
.comment-list li.comment-by-author {
  background:#FFF9E8
}
.comment-list li .comment-reply {
  text-align:right;
  font-size:.92857em
}
.comment-meta a {
  color:#999;
  font-size:.92857em
}
.comment-author {
  display:block;
  margin-bottom:3px;
  color:#444
}
.comment-author cite {
  font-weight:bold;
  font-style:normal
}
.respond .cancel-comment-reply {
  float:right;
  margin-top:15px;
  font-size:.92857em
}
#comment-form label {
  display:block;
  margin-bottom:.5em;
  margin-top:.5em;
  font-weight:bold
}
#comment-form .required:after {
  content:" *";
  color:#C00
}
.tags {
margin-top: 20px;
margin-bottom: -5px;
}
.tags a {
display: inline-block;
border: 1px solid rgba(255, 255, 255, 0.8);
border-radius: 999em;
padding: 0 10px;
color: #ffffff;
line-height: 24px;
text-decoration: none;
margin: 0 1px;
margin-bottom: 6px;
}
.tags a:hover,
.tags a:active {
color: white;
border-color: white;
background-color: rgba(255, 255, 255, 0.4);
text-decoration: none;
}
@media only screen and (min-width: 768px) {
.tags a {
  margin-right: 5px;
}
}
@media only screen and (max-width: 767px) {
/**
 * Layout
 * Since V1.6 we use absolute positioning to prevent to expand container-fluid
 * which would cover tags. A absolute positioning make a new layer.
 */
.navbar-default .navbar-collapse {
  position: absolute;
  right: 0;
  border: none;
  background: white;
  box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.239216) 0px 1px 4px;
  border-radius: 2px;
  width: 170px;
}
#huxblog_navbar a {
  font-size: 13px;
  line-height: 28px;
}
#huxblog_navbar .navbar-collapse {
  height: 0px;
  transform: scaleY(0);
  transform-origin: top right;
  transition: transform 400ms cubic-bezier(0.32, 1, 0.23, 1) 0ms;
  -webkit-transform: scaleY(0);
  -webkit-transform-origin: top right;
  -webkit-transition: -webkit-transform 400ms cubic-bezier(0.32, 1, 0.23, 1) 0ms;
}
#huxblog_navbar li {
  opacity: 0;
  transition: opacity 100ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  -webkit-transition: opacity 100ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}
}
.navbar-custom {
background: none;
border: none;
position: absolute;
top: 0;
left: 0;
width: 100%;
z-index: 3;
/* Hux learn from
   *     TypeIsBeautiful,
   *     [This Post](http://zhuanlan.zhihu.com/ibuick/20186806) etc.
   */
font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Arial", "PingFang SC", "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "WenQuanYi Micro Hei", SimSun, sans-serif;
line-height: 1.7;
}
.navbar-custom .navbar-brand {
font-weight: 800;
color: white;
height: 56px;
line-height: 25px;
}
.navbar-custom .navbar-brand:hover {
color: rgba(255, 255, 255, 0.8);
}
.navbar-custom .nav li a {
text-transform: uppercase;
font-size: 16px;
line-height: 20px;
font-weight: 800;
letter-spacing: 1px;
}
.navbar-custom .nav li a:active {
background: rgba(0, 0, 0, 0.12);
}
@media only screen and (min-width: 768px) {
.navbar-custom {
  background: transparent;
  border-bottom: 1px solid transparent;
}
.navbar-custom .navbar-brand {
  color: white;
  padding: 20px;
  line-height: 20px;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
  color: rgba(255, 255, 255, 0.8);
}
.navbar-custom .nav li a {
  color: white;
  padding: 20px;
}
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus {
  color: rgba(255, 255, 255, 0.8);
}
.navbar-custom .nav li a:active {
  background: none;
}
}
@media only screen and (min-width: 1170px) {
.navbar-custom {
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  transition: background-color 0.3s;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
}
/* Hux Optimize UserExperience */
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
background-color: inherit;
}
.navbar-default .navbar-toggle:active {
background-color: rgba(255, 255, 255, 0.25);
}
/* Hux customize Style for navBar button */
.navbar-default .navbar-toggle {
border-color: transparent;
padding: 19px 16px;
margin-top: 2px;
margin-right: 2px;
margin-bottom: 2px;
border-radius: 50%;
}
.navbar-default .navbar-toggle .icon-bar {
width: 18px;
border-radius: 0px;
background-color: white;
}
.navbar-default .navbar-toggle .icon-bar + .icon-bar {
margin-top: 3px;
}
.navbar {
position: relative;
min-height: 50px;
margin-bottom: 20px;
border: 1px solid transparent;
}
@media (min-width: 768px) {
.navbar {
  border-radius: 4px;
}
}
@media (min-width: 768px) {
.navbar-header {
  float: left;
}
}
@media only screen and (min-width: 1170px) {
  .navbar-custom {
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    transition: background-color 0.3s;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .navbar-custom.is-fixed {
    /* when the user scrolls down, we hide the header right above the viewport */
    position: fixed;
    top: -61px;
    background-color: rgba(255, 255, 255, 0.9);
    border-bottom: 1px solid #f2f2f2;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
  }
  .navbar-custom.is-fixed .navbar-brand {
    color: #404040;
  }
  .navbar-custom.is-fixed .navbar-brand:hover,
  .navbar-custom.is-fixed .navbar-brand:focus {
    color: #0085a1;
  }
  .navbar-custom.is-fixed .nav li a {
    color: #404040;
  }
  .navbar-custom.is-fixed .nav li a:hover,
  .navbar-custom.is-fixed .nav li a:focus {
    color: #0085a1;
  }
  .navbar-custom.is-visible {
    /* if the user changes the scrolling direction, we show the header */
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}
@media only screen and (min-width: 1170px) {
  .navbar-custom {
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    transition: background-color 0.3s;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .navbar-custom.is-fixed {
    /* when the user scrolls down, we hide the header right above the viewport */
    position: fixed;
    top: -61px;
    background-color: rgba(255, 255, 255, 0.9);
    border-bottom: 1px solid #f2f2f2;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
  }
  .navbar-custom.is-fixed .navbar-brand {
    color: #404040;
  }
  .navbar-custom.is-fixed .navbar-brand:hover,
  .navbar-custom.is-fixed .navbar-brand:focus {
    color: #0085a1;
  }
  .navbar-custom.is-fixed .nav li a {
    color: #404040;
  }
  .navbar-custom.is-fixed .nav li a:hover,
  .navbar-custom.is-fixed .nav li a:focus {
    color: #0085a1;
  }
  .navbar-custom.is-visible {
    /* if the user changes the scrolling direction, we show the header */
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}
.navbar-collapse {
padding-right: 15px;
padding-left: 15px;
overflow-x: visible;
-webkit-overflow-scrolling: touch;
border-top: 1px solid transparent;
-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
}
@media (min-width: 768px) {
.navbar-collapse {
  width: auto;
  border-top: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.navbar-fixed-top .navbar-collapse {
  padding-right: 0;
  padding-left: 0;
}
}
.navbar-fixed-top .navbar-collapse {
max-height: 340px;
}
@media (max-device-width: 480px) and (orientation: landscape) {
.navbar-fixed-top .navbar-collapse {
  max-height: 200px;
}
}
.container-fluid > .navbar-header {
margin-right: -15px;
margin-left: -15px;
}
@media (min-width: 768px) {
.container-fluid > .navbar-header {
  margin-right: 0;
  margin-left: 0;
}
}
.navbar-fixed-top {
position: fixed;
right: 0;
left: 0;
z-index: 1030;
}
@media (min-width: 768px) {
.navbar-fixed-top {
  border-radius: 0;
}
}
.navbar-brand {
float: left;
height: 50px;
padding: 15px 15px;
font-size: 18px;
line-height: 20px;
}
.navbar-brand:hover,
.navbar-brand:focus {
text-decoration: none;
}
@media (min-width: 768px) {
.navbar > .container-fluid .navbar-brand {
  margin-left: -15px;
}
}
.navbar-toggle {
position: relative;
float: right;
padding: 9px 10px;
margin-top: 8px;
margin-right: 15px;
margin-bottom: 8px;
background-color: transparent;
background-image: none;
border: 1px solid transparent;
border-radius: 4px;
}
.navbar-toggle:focus {
outline: 0;
}
.navbar-toggle .icon-bar {
display: block;
width: 22px;
height: 2px;
border-radius: 1px;
}
.navbar-toggle .icon-bar + .icon-bar {
margin-top: 4px;
}
@media (min-width: 768px) {
.navbar-toggle {
  display: none;
}
}
.navbar-nav {
margin: 7.5px -15px;
}
.navbar-nav > li > a {
padding-top: 10px;
padding-bottom: 10px;
line-height: 20px;
}
@media (min-width: 768px) {
.navbar-nav {
  float: left;
  margin: 0;
}
.navbar-nav > li {
  float: left;
}
.navbar-nav > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
}
}
@media (min-width: 768px) {
.navbar-right {
  float: right !important;
  margin-right: -15px;
}
}
.navbar-default .navbar-brand {
color: #777;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
color: #5e5e5e;
background-color: transparent;
}
.navbar-default .navbar-nav > li > a {
color: #777;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
color: #333;
background-color: transparent;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
background-color: #ddd;
}
.navbar-default .navbar-toggle .icon-bar {
background-color: #888;
}
.navbar-default .navbar-collapse {
border-color: #e7e7e7;
}
.container-fluid:before,
.container-fluid:after,
.container:before,
.container:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after {
  display: table;
  content: " ";
}
.navbar:after,
.navbar-header:after,
.container-fluid:after,
.container:after,
.navbar-collapse:after {
  clear: both;
}
.sr-only {
position: absolute;
width: 1px;
height: 1px;
padding: 0;
margin: -1px;
overflow: hidden;
clip: rect(0, 0, 0, 0);
border: 0;
}
.container-fluid {
padding-right: 15px;
padding-left: 15px;
margin-right: auto;
margin-left: auto;
}
.container-fluid > .navbar-header {
margin-right: -15px;
margin-left: -15px;
}
@media (min-width: 768px) {
.container-fluid > .navbar-header {
  margin-right: 0;
  margin-left: 0;
}
}
@media (min-width: 1200px) {
.sidebar-container {
  padding-right: 5%;
}
}
.sidebar-container .sidebar-header {
position: relative;
padding-bottom: 13px;
padding-top: 40px;
margin-left: 0px;
}
.sidebar-header {
margin: 0 30px 0 20px;
padding-top: 8px;
padding-bottom: 8px;
border-bottom: 1px solid rgba(0,0,0,0.0785);
}
.sidebar-header .sidebar-header-title {
font-size: 1.25em;
font-weight: bold;
color: rgba(0,0,0,0.8);
height: 22px;
vertical-align: top;
}
.sidebar-container {
color: #bfbfbf;
font-size: 14px;
padding-left: 5%;
}
.sidebar-container .tags a:hover {
color: #0085a1 !important;
}
.sidebar-container .tags a {
border-color: #f5f5f5;
}
.sidebar-container .tags a:hover,
.sidebar-container .tags a:active {
border-color: #0085a1;
}
.sidebar-container .list-inline > li {
padding-left: 0px;
}
.list-inline > li {
display: inline-block;
padding-right: 5px;
padding-left: 5px;
}
.sidebar-list ul {
list-style: none;
padding: 0;
}
.sidebar-list-body li.sidebar-list-item:first-child {
margin-top: 15px;
}
.sidebar-list-body li.sidebar-list-item {
margin-top: 25px;
margin-bottom: 0px;
margin-left: 0px;
}
.sidebar-list .sidebar-list-item {
margin: 20px 0px 20px 20px;
}
.sidebar-header .sidebar-header-title:after {
position: absolute;
bottom: -1px;
left: 0;
right: 0;
height: 1px;
width: 70px;
background: #2f2f2d;
content: '';
}
/*
Please note this CSS is currently in   prototype form. We'll implement a cleaned up version in Web Starter Kit.
*/
/* Everything from here down is actually just for the demo - the material buttons and card, and various other pieces of styling */
/* Variables */
/* Buttons */
/** Shadows **/
.pager li {
width: 40%;
}
.pager li.next {
float: right;
}
.pager li.previous {
float: left;
}
.pager li > a {
width: 100%;
}
.post-index-title {
font-size: 24px;
font-weight: 500;
line-height: 33px;
margin-top: 25px !important;
}
@media only screen and (max-width: 767px) {
/**
 * Layout
 * Since V1.6 we use absolute positioning to prevent to expand container-fluid
 * which would cover tags. A absolute positioning make a new layer.
 */
.navbar-default .navbar-collapse {
  position: absolute;
  right: 0;
  border: none;
  background: white;
  box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.239216) 0px 1px 4px;
  border-radius: 2px;
  width: 170px;
}
#huxblog_navbar {
  /**
   * Sharable code and 'out' function
   */
  opacity: 0;
  transform: scaleX(0);
  transform-origin: top right;
  transition: all 200ms cubic-bezier(0.47, 0, 0.4, 0.99) 0ms;
  -webkit-transform: scaleX(0);
  -webkit-transform-origin: top right;
  -webkit-transition: all 200ms cubic-bezier(0.47, 0, 0.4, 0.99) 0ms;
  /**
   *'In' Animation
   */
}
#huxblog_navbar a {
  font-size: 13px;
  line-height: 28px;
}
#huxblog_navbar .navbar-collapse {
  height: 0px;
  transform: scaleY(0);
  transform-origin: top right;
  transition: transform 400ms cubic-bezier(0.32, 1, 0.23, 1) 0ms;
  -webkit-transform: scaleY(0);
  -webkit-transform-origin: top right;
  -webkit-transition: -webkit-transform 400ms cubic-bezier(0.32, 1, 0.23, 1) 0ms;
}
#huxblog_navbar li {
  opacity: 0;
  transition: opacity 100ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  -webkit-transition: opacity 100ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}
#huxblog_navbar.in {
  transform: scaleX(1);
  -webkit-transform: scaleX(1);
  opacity: 1;
  transition: all 250ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  -webkit-transition: all 250ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}
#huxblog_navbar.in .navbar-collapse {
  transform: scaleY(1);
  -webkit-transform: scaleY(1);
  transition: transform 500ms cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-transition: -webkit-transform 500ms cubic-bezier(0.23, 1, 0.32, 1);
}
#huxblog_navbar.in li {
  opacity: 1;
  transition: opacity 450ms cubic-bezier(0.23, 1, 0.32, 1) 205ms;
  -webkit-transition: opacity 450ms cubic-bezier(0.23, 1, 0.32, 1) 205ms;
}
}
.navbar-custom {
background: none;
border: none;
position: absolute;
top: 0;
left: 0;
width: 100%;
z-index: 3;
/* Hux learn from
   *     TypeIsBeautiful,
   *     [This Post](http://zhuanlan.zhihu.com/ibuick/20186806) etc.
   */
font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Arial", "PingFang SC", "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "WenQuanYi Micro Hei", SimSun, sans-serif;
line-height: 1.7;
}
.navbar-custom .navbar-brand {
font-weight: 800;
color: white;
height: 56px;
line-height: 25px;
}
.navbar-custom .navbar-brand:hover {
color: rgba(255, 255, 255, 0.8);
}
.navbar-custom .nav li a {
text-transform: uppercase;
font-size: 16px;
line-height: 20px;
font-weight: 800;
letter-spacing: 1px;
}
.navbar-custom .nav li a:active {
background: rgba(0, 0, 0, 0.12);
}
@media only screen and (min-width: 768px) {
.navbar-custom {
  background: transparent;
  border-bottom: 1px solid transparent;
}
.navbar-custom .navbar-brand {
  color: white;
  padding: 20px;
  line-height: 20px;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
  color: rgba(255, 255, 255, 0.8);
}
.navbar-custom .nav li a {
  color: white;
  padding: 20px;
}
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus {
  color: rgba(255, 255, 255, 0.8);
}
.navbar-custom .nav li a:active {
  background: none;
}
}
@media only screen and (min-width: 1170px) {
.navbar-custom {
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  transition: background-color 0.3s;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
}
.intro-header {
background: no-repeat center center;
background-color: #cccccc;
background-attachment: scroll;
-webkit-background-size: cover;
-moz-background-size: cover;
background-size: cover;
-o-background-size: cover;
margin-bottom: 0px;
/* 0 on mobile, modify by Hux */
}
@media only screen and (min-width: 768px) {
.intro-header {
  margin-bottom: 20px;
  /* response on desktop */
}
}
.intro-header .site-heading,
.intro-header .post-heading {
padding: 85px 0 55px;
color: white;
}
@media only screen and (min-width: 768px) {
.intro-header .site-heading,
.intro-header .post-heading {
  padding: 125px 0;
}
}
.intro-header .site-heading {
padding: 95px 0 70px;
}
@media only screen and (min-width: 768px) {
.intro-header .site-heading {
  padding: 125px 0;
}
}
.intro-header .site-heading {
text-align: center;
}
.intro-header .site-heading h1 {
margin-top: 0;
font-size: 50px;
}
.intro-header .site-heading .subheading {
/* Hux learn from
   *     TypeIsBeautiful,
   *     [This Post](http://zhuanlan.zhihu.com/ibuick/20186806) etc.
   */
font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Arial", "PingFang SC", "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "WenQuanYi Micro Hei", SimSun, sans-serif;
line-height: 1.7;
font-size: 24px;
line-height: 1.1;
display: block;
font-weight: 300;
margin: 10px 0 0;
}
@media only screen and (min-width: 768px) {
.intro-header .site-heading h1 {
  font-size: 80px;
}
}
.intro-header .post-heading h1 {
font-size: 30px;
margin-bottom: 24px;
}
.intro-header .post-heading .meta {
line-height: 1.1;
display: block;
}
.intro-header .post-heading .meta {
font-family: 'Lora', 'Times New Roman', serif;
font-style: italic;
font-weight: 300;
font-size: 18px;
}
@media only screen and (min-width: 768px) {
.intro-header .post-heading h1 {
  font-size: 45px;
}
.intro-header .post-heading .meta {
  font-size: 20px;
}
}
.post-content-preview {
color: #818181;
line-height: 1.8;
font-size: 16px !important;
font-family: -apple-system,BlinkMacSystemFont,"Helvetica Neue",Arial,"PingFang SC","Hiragino Sans GB",STHeiti,"Microsoft YaHei","Microsoft JhengHei","Source Han Sans SC","Noto Sans CJK SC","Source Han Sans CN","Noto Sans SC","Source Han Sans TC","Noto Sans CJK TC","WenQuanYi Micro Hei",SimSun,sans-serif;
font-weight: 500;
}
.post-content-preview:hover {
color: #0085a1;
}
@media only screen and (min-width: 768px) {
.post-content-preview {
  font-size: 14px;
}
}
.list-inline {
padding-left: 0;
margin-left: -5px;
list-style: none;
}
footer {
font-size: 20px;
padding: 50px 0 65px;
}
footer .list-inline {
margin: 0;
padding: 0;
margin-bottom: 16px;
}
.floating-label-form-group::not(:first-child) {
padding-left: 14px;
border-left: 1px solid #eeeeee;
}
.pager {
margin: 20px 0 0 !important;
padding: 0px !important;
text-align: center;
list-style: none;
height: 86px;
}
.pager li > a {
/* Hux learn from
   *     TypeIsBeautiful,
   *     [This Post](http://zhuanlan.zhihu.com/ibuick/20186806) etc.
   */
font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Arial", "PingFang SC", "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "WenQuanYi Micro Hei", SimSun, sans-serif;
line-height: 1.7;
text-transform: uppercase;
font-size: 13px;
font-weight: 800;
letter-spacing: 1px;
padding: 10px;
background-color: white;
border-radius: 0;
display: inline-block;
border: 1px solid;
}
@media only screen and (min-width: 768px) {
.pager li > a {
  font-size: 14px;
  padding: 15px 25px;
}
}
.pager li > a {
color: #404040;
}
.pager li > a:hover,
.pager li > a:focus {
color: white;
background-color: #0085a1;
border: 1px solid #0085a1;
}
::-moz-selection {
color: white;
text-shadow: none;
background: #0085a1;
}
::selection {
color: white;
text-shadow: none;
background: #0085a1;
}
img::selection {
color: white;
background: transparent;
}
img::-moz-selection {
color: white;
background: transparent;
}
/* Hux add tags support */
.tags {
margin-bottom: -5px;
}
.tags a {
display: inline-block;
border: 1px solid #f5f5f5;
border-radius: 2px;
padding: 5px 10px;
color: rgba(0, 0, 0, .6);
line-height: 22px;
font-size: 14px;
text-decoration: none;
margin: 0 1px;
margin-bottom: 6px;
}
.tags a:hover,
.tags a:active {
color: white;
border-color: white;
background-color: rgba(255, 255, 255, 0.4);
text-decoration: none;
}
@media only screen and (min-width: 768px) {
.tags a {
  margin-right: 5px;
}
}
/* Tags support End*/
/* Hux make all img responsible in post-container */
/* Hux Optimize UserExperience */
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
background-color: inherit;
}
.navbar-default .navbar-toggle:active {
background-color: rgba(255, 255, 255, 0.25);
}
/* Hux customize Style for navBar button */
.navbar-default .navbar-toggle {
border-color: transparent;
padding: 19px 16px;
margin-top: 2px;
margin-right: 2px;
margin-bottom: 2px;
border-radius: 50%;
}
.navbar-default .navbar-toggle .icon-bar {
width: 18px;
border-radius: 0px;
background-color: white;
}
.navbar-default .navbar-toggle .icon-bar + .icon-bar {
margin-top: 3px;
}
/* Hux customize Style for Duoshuo */
.nav>li {
  position: relative;
  display: block;
}
.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.nav>li>a {
  position: relative;
  display: block;
  padding: 10px 15px;
}
.container {
padding-right: 15px;
padding-left: 15px;
margin-right: auto;
margin-left: auto;
}
@media (min-width: 768px) {
.container {
  width: 750px;
}
}
@media (min-width: 992px) {
.container {
  width: 970px;
}
}
@media (min-width: 1200px) {
.container {
  width: 1170px;
}
}
.col-lg-8, .col-md-10 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.row {
  margin-right: 15px;
  margin-left: 15px;
}
code {
white-space: inherit;
}
textarea {
width: 100%;
border-radius: 2px;
border: 1px solid #bdc3c7
}
@media only screen and (max-width: 1023px) {
.am-u-sm-10 {
  display: none;
}
}
@media only screen and (min-width: 1025px) {
.am-u-lg-4 {
  display: block;
}
}
.text-center {
text-align: center;
}
img {
max-width: 100%;
}
code {
font-size: 90%;
}
.article-trigger h2::before {
font-weight: 600;
position: absolute;
content: '#';
left: -5px;
color: #337ab7;
}
.topic-header {
padding-bottom: 0px;
display: flex;
display: -webkit-flex;
display: -ms-flexbox;
-webkit-box-pack: justify;
-ms-flex-pack: justify;
justify-content: space-between;
margin-top: 0px;
}
.pull-left {
float: left !important;
}
.blog-flex-center {
display: -ms-flexbox !important;
display: -webkit-box !important;
display: flex !important;
-ms-flex-align: center !important;
-webkit-box-align: center !important;
align-items: center !important;
}
.blog-flex0 {
-ms-flex: 0 0 auto;
-webkit-box-flex: 0;
flex: 0 0 auto;
display: flex;
display: -webkit-box;
display: -ms-flexbox;
}
.link {
color: inherit;
text-decoration: none;
cursor: pointer;
}
.avatar {
display: block;
white-space: nowrap;
overflow: visible;
text-overflow: ellipsis;
line-height: normal;
position: relative;
}
.avatar-image {
display: inline-block;
vertical-align: middle;
border-radius: 50%;
width: 36px;
height: 36px;
}
.blog-flex1 {
-ms-flex: 1 1 auto;
-webkit-box-flex: 1;
flex: 1 1 auto;
}
.author-lockup {
font-size: 16px;
line-height: 1.4;
padding-left: 10px;
text-rendering: auto
}
.topic-header .author-lockup {
height: 20px;
display: inline-table;
line-height: 20px;
}
.pull-right {
float: right !important;
}
.topic-header .time {
font-size: 16px;
color: #C7C7C7;
line-height: 36px;
}
.time {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center
}
.topic-header .author-lockup a {
font-size: 16px;
color: #46466E;
display: inline;
cursor: pointer;
text-decoration: none;
}
.topic-header .author-lockup .in {
font-size: 16px;
color: #C7C7C7;
line-height: 20px;
margin-left: 8px;
}
.category-name a {
font-size: 16px;
color: #46466E;
display: inline;
cursor: pointer;
text-decoration: none;
margin-left: 4px;
}
.footer-icon {
background-color: transparent !important;
}
.am-icon-btn {
background-color: transparent;
color: #666;
}
.clearfix:after, .clearfix:before {
display: table;
content: " ";
}
@media only screen and (max-width: 750px) {
span.time.pc_time {
  display:none !important;
}

span.time.mobile_time {
  display: inline-block !important;
}
.author-lockup {
  margin-right: 20px;
}
.topic-footer {
  margin-top: 27px;
  line-height: 20px;
}
}
@media only screen and (min-width: 750px) {
span.time.pc_time {
  display:inline-block !important;
  font-size: 16px;
  color: #C7C7C7;
  line-height: 36px;
}
span.time.mobile_time {
  display: none !important;
}
}
.post-tags  a {
color: #fff !important;
}

/* Archives */
.archive-page {
padding: 20px 15% 0;
}

.archive-page .categorys-title {
font-size: 16px;
position: relative;
margin: 10px auto;
padding: 0 30px;
color: #46466E
}

.archive-page .categorys-title::before {
position: absolute;
font-weight: 600;
top: 0;
left: -15px;
padding: 0 30px;
content: '#';
color: #337ab7;
}

.archive-page .post-list-item-container {
border: 1px solid rgba(184,197,214,.2);
border-radius: 3px;
background: #fff;
-webkit-box-shadow: 0 1px 4px rgba(0,0,0,.04);
box-shadow: 0 1px 4px rgba(0,0,0,.04)
}

.archive-page .post-list-item-container .item-label {
height: 95px;
background: #fff
}

.archive-page .post-list-item-container .item-label .item-title a {
font-size: 14px;
display: block;
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
color: #404040;
}

.archive-page .post-list-item-container .item-label .item-meta .item-meta-date {
padding-bottom: 5px;
padding-left: 5px;
color: #46466E
}

.clearfix:after,.clearfix:before {
display: table;
content: ''
}

.clearfix:after {
clear: both
}

.clearfix {
zoom:1
}

.post-lists {
position: relative;
display: block;
overflow: hidden
}

.post-lists-body {
display: block
}

.post-list-item {
float: left;
width: 33.3333%;
height: auto;
padding: 15px;
align-items: center
}

.post-list-item-container {
position: relative;
overflow: hidden;
width: 100%;
padding: 0;
border-radius: 3px;
background-color: #fff;
-webkit-box-shadow: 0 1px 4px rgba(0,0,0,.04);
box-shadow: 0 1px 4px rgba(0,0,0,.04)
}

.post-list-item-container:hover {
-webkit-box-shadow: 2px 2px 4px rgba(0,0,0,.1);
box-shadow: 2px 2px 4px rgba(0,0,0,.1)
}

.post-list-item-container .item-label {
position: relative;
height: 130px;
padding: 25px 20px 40px;
background-color: #fff
}

.post-list-item-container .item-label .item-title a {
font-size: 17px;
line-height: 17px;
word-break: break-all;
color: #404040;
}

.post-list-item-container .item-label .item-meta {
position: absolute;
right: 0;
bottom: 0;
width: 100%;
padding: 0 15px 15px;
text-align: right
}

.post-list-item-container .item-label .item-meta .item-meta-date {
font-size: 12px;
position: relative;
float: left;
padding-top: 9px;
padding-left: 9px;
text-align: right;
text-transform: none;
color: #f1f1f1
}

@media(max-width: 580px) {
.post-list-item {
  width: 100%;
  padding: 10px 20px
}

.post-list-item:first-child {
  padding-top: 20px
}

.archive-page .post-list-item:first-child {
  padding-top: 0
}

.archive-page .post-list-item:last-child {
  padding-bottom: 0
}
}

@media(max-width: 880px) {
.archive-page {
  padding: 20px 0 0 0;
}

.post-list-item {
  width: 50%;
  padding: 0 7.5px 10px 7.5px
}

.post-list-item:nth-child(odd) {
  padding-left: 15px
}

.post-list-item:nth-child(even) {
  padding-right: 15px
}
}

.navbar-search {
line-height: 60px;
height: 60px;
display: inline-block;
padding: 0 40px 0 15px;
cursor: pointer;
color: #fff;
}
.navbar-mobile-search {
line-height: 56px;
float: right;
color: #fff;
}
@media (min-width: 768px) {
.navbar-mobile-search {
  display: none;
}
}
@media (min-width: 768px) {
.navbar-search {
  display: none;
}
}
.search-page .search-box {
margin-top: 3rem;
line-height: 40px;
position: relative;
top: -1px;
display: inline-block;
width: 100%;
height: 40px;
padding: 0;
border: none;
border-radius: 3px;
}
.search-page .search-box .input {
font-size: 14px;
line-height: 40px;
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 40px;
padding: 0 40px 0 18px;
color: #313131;
border: 1px solid rgba(184,197,214,.2);
border-radius: 2px;
outline: 0;
background-color: #fff;
-webkit-box-shadow: 0 1px 4px rgba(0,0,0,.04);
box-shadow: 0 1px 4px rgba(0,0,0,.04);
-webkit-appearance: none;
}
.search-page .search-box .spsubmit {
line-height: 35px;
float: right;
margin-right: 15px;
outline: 0;
background-color: transparent
}
.search-page .search-tags {
margin: 0;
padding: 15px 0;
text-align: center
}
.search-page .search-tags a {
font-size: 14px;
display: inline-block;
border: 1px solid #f5f5f5;
color: rgba(0, 0, 0, .6);
line-height: 22px;
text-decoration: none;
margin: 10px 8px 0 0;
padding: 2px 15px;
-webkit-transition-duration: .4s;
transition-duration: .4s;
letter-spacing: 0;
border-radius: 2px;
-webkit-box-shadow: 0 1px 4px rgba(0,0,0,.04);
box-shadow: 0 1px 4px rgba(0,0,0,.04)
}
.search-page .search-tags-hr {
display: block;
width: 55px;
height: 2px;
margin: 20px auto 10px
}